.overlay {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	background: #000;
	visibility: hidden;
  opacity: 0;
	// pointer-events: none;
	z-index: 101;
	transition: 0.3s;

	&.active {
		visibility: visible;
		opacity: 0.2;
	}
}
