.banner-promotion {
	margin-top: var(--margins-top);
	margin-bottom: var(--margins-bottom);
	padding-top: var(--paddings-top);
	padding-bottom: var(--paddings-bottom);
	background: var(--gradient);

	@media (max-width: 767.98px) {
		margin-top: var(--margins-top--mobile);
		margin-bottom: var(--margins-bottom--mobile);
		padding-top: var(--paddings-top--mobile);
		padding-bottom: var(--paddings-bottom--mobile);
	}

	&__inner {
		position: relative;
		width: 100%;
		height: 436px;

		@media (max-width: 1199.98px) {
			height: 400px;
		}

		@media (max-width: 991.98px) {
			height: 300px;
		}

		@media (max-width: 767.98px) {
			height: 200px;
		}

		@media (max-width: 575.98px) {
			height: 121px;
		}
	}

	&__background {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		width: 100%;
		height: 436px;
		border-radius: 10px;

		@media (max-width: 1199.98px) {
			height: 400px;
		}

		@media (max-width: 991.98px) {
			height: 300px;
		}

		@media (max-width: 767.98px) {
			height: 200px;
		}

		@media (max-width: 575.98px) {
			height: 121px;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 10px;
		}
	}
}
