.other-cards {
	margin-top: var(--margins-top);
	margin-bottom: var(--margins-bottom);
	padding-top: var(--paddings-top);
	padding-bottom: var(--paddings-bottom);
	background: var(--gradient);

	@media (max-width: 767.98px) {
		margin-top: var(--margins-top--mobile);
		margin-bottom: var(--margins-bottom--mobile);
		padding-top: var(--paddings-top--mobile);
		padding-bottom: var(--paddings-bottom--mobile);
	}

	&__title {
		font-weight: 300;
		font-size: 40px;
		line-height: 100%;
		text-align: center;
		color: #3a4454;
		margin-bottom: 80px;

		@media (max-width: 767.98px) {
			margin-bottom: 45px;
		}

		@media (max-width: 575.98px) {
			font-size: 32px;
		}
	}

	&__inner {
		display: flex;
		justify-content: space-between;
		margin-top: -20px;
		margin-bottom: -20px;
		padding-top: 20px;
		padding-bottom: 20px;

		@media (max-width: 1199.98px) {
			overflow: auto;
			margin-right: -16px;
			margin-left: -16px;
		}
	}

	&__item {
		width: 100%;
		max-width: 382px;
		flex-shrink: 0;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 31px 27px 38px;
		background: #ffffff;
		border: 1px solid #dce1e9;
		border-radius: 10px;
		transition: 0.3s;

		&:hover {
			box-shadow: 0px 5px 25px rgb(15 35 52 / 20%);
		}

		@media (max-width: 1199.98px) {
			&:first-child {
				margin-left: 16px;
			}
			&:last-child {
				margin-right: 16px;
			}
		}

		@media (max-width: 767.98px) {
			max-width: 312px;
			padding: 34px 23px 40px;
		}

		&-image {
			width: 100%;
			height: 206px;
			flex-shrink: 0;
			border-radius: 10px;

			@media (max-width: 767.98px) {
				height: 165px;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
				border-radius: 10px;
			}
		}

		&-content {
			display: flex;
			flex-direction: column;
			margin-top: 34px;
		}

		&-title {
			font-weight: 700;
			font-size: 30px;
			line-height: 100%;
			color: #3a4454;

			@media (max-width: 767.98px) {
				font-size: 24px;
				line-height: 110%;
			}
		}

		&-text {
			margin-top: 24px;
			margin-bottom: 24px;
			font-size: 16px;
			line-height: 150%;
			color: #748994;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: normal;

			@media (max-width: 767.98px) {
				margin-top: 18px;
				margin-bottom: 18px;
			}
		}

		&-buttons {
			margin-top: auto;
			margin-bottom: 0;
			display: flex;
			align-items: center;
		}

		&-button {
			&.link-button {
			}
			&.primary-button {
			}
		}

		&-button + &-button {
			margin-left: 36px;

			@media (max-width: 767.98px) {
				margin-left: 24px;
			}
		}
	}

	&__item + &__item {
		margin-left: 36px;

		@media (max-width: 767.98px) {
			margin-left: 16px;
		}
	}
}
