.promo-centered {
	margin-top: var(--margins-top);
	margin-bottom: var(--margins-bottom);
	padding-top: var(--paddings-top);
	padding-bottom: var(--paddings-bottom);
	background: var(--gradient);

	@media (max-width: 767.98px) {
		margin-top: var(--margins-top--mobile);
		margin-bottom: var(--margins-bottom--mobile);
		padding-top: var(--paddings-top--mobile);
		padding-bottom: var(--paddings-bottom--mobile);
	}

	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		max-width: 707px;
	}

	&__title {
		font-weight: 300;
		font-size: 40px;
		line-height: 100%;
		color: #ffffff;
		max-width: 487px;

		@media (max-width: 575.98px) {
			font-size: 36px;
			line-height: 100%;
		}
	}

	&__description {
		margin-top: 36px;
		font-weight: 400;
		font-size: 16px;
		line-height: 150%;
		color: #ffffff;

		@media (max-width: 767.98px) {
			margin-top: 25px;
		}

		@media (max-width: 575.98px) {
			font-size: 16px;
		}
	}

	&__buttons {
		display: flex;
		align-items: center;
		margin-top: 36px;

		@media (max-width: 767.98px) {
			margin-top: 30px;
		}
	}
}
