.calculator {
	position: relative;
	margin-top: var(--margins-top);
	margin-bottom: var(--margins-bottom);
	padding-top: var(--paddings-top);
	padding-bottom: var(--paddings-bottom);
	background: var(--gradient);

	@media (max-width: 767.98px) {
		margin-top: var(--margins-top--mobile);
		margin-bottom: var(--margins-bottom--mobile);
		padding-top: var(--paddings-top--mobile);
		padding-bottom: var(--paddings-bottom--mobile);
	}

	&__inner {
		display: flex;
		flex-direction: column;

		@media (max-width: 767.98px) {
			flex-direction: column-reverse;
		}
	}

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media (max-width: 767.98px) {
			margin-top: 16px;
			justify-content: flex-end;
		}

		@media (max-width: 575.98px) {
			justify-content: flex-start;
		}
	}

	&__refresh {
		display: flex;
		align-items: center;

		@media (max-width: 767.98px) {
			position: absolute;
			top: 35px;
			left: 16px;
		}

		@media (max-width: 575.98px) {
			max-width: 170px;
		}
	}

	&__date {
		margin-left: 20px;

		@media (max-width: 767.98px) {
			margin-left: 0;
		}

		@media (max-width: 575.98px) {
			width: 100%;
			text-align: center;
		}
	}

	&__icon {
		width: 23px;
		height: 23px;
		margin-right: 13px;
		flex-shrink: 0;

		@media (max-width: 575.98px) {
			width: 21px;
			height: 21px;
			margin-right: 12px;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&__title {
		font-weight: 700;
		font-size: 24px;
		line-height: 100%;
		color: #3a4454;
		margin-bottom: 1px;

		@media (max-width: 575.98px) {
			font-size: 20px;
			line-height: 110%;
		}
	}

	&__description {
		font-weight: 400;
		font-size: 14px;
		line-height: 150%;
		color: #748994;

		@media (max-width: 575.98px) {
			font-size: 12px;
		}
	}

	&__content {
		margin-top: 30px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media (max-width: 767.98px) {
			margin-top: 20px;
			padding-top: 48px;
			flex-direction: column;
			align-items: stretch;
		}
	}

	&__currency {
		@media (max-width: 767.98px) {
			position: absolute;
			top: 25px;
			right: 16px;
		}

		&.active {
			.calculator__currency-button {
				left: calc(100% - (113px + 4px));

				@media (max-width: 991.98px) {
					left: calc(100% - (46px + 4px));
				}
			}

			.calculator__currency-span-1-mobile {
				color: #748994;
			}
			.calculator__currency-span-2-mobile {
				color: #ffffff;
			}
			.calculator__currency-span-1 {
				color: #748994;
			}
			.calculator__currency-span-2 {
				color: #ffffff;
			}
		}

		&-wrapper {
			position: relative;
			background: #ffffff;
			border: 1px solid #a5adb4;
			box-shadow: inset 0px 1px 2px rgba(97, 97, 97, 0.2), inset 0px 2px 4px rgba(97, 97, 97, 0.2);
			border-radius: 5px;
			height: 48px;
			width: 237px;

			@media (max-width: 991.98px) {
				width: 109px;
			}

			input {
				position: absolute;
				opacity: 0;
				visibility: hidden;
			}

			.calculator__currency-button {
				position: absolute;
				left: 4px;
				top: 4px;
				width: 113px;
				height: 40px;
				background: #219963;
				box-shadow: 0px 1px 2px rgba(97, 97, 97, 0.2), 0px 2px 4px rgba(97, 97, 97, 0.2);
				border-radius: 5px;
				transition: 0.3s;

				&:hover {
					cursor: pointer;
				}

				@media (max-width: 991.98px) {
					width: 46px;
				}
			}

			.calculator__currency-span-1,
			.calculator__currency-span-2 {
				position: absolute;
				font-weight: 400;
				font-size: 16px;
				line-height: 150%;
				color: #748994;
				pointer-events: none;
				transition: 0.3s;

				@media (max-width: 991.98px) {
					display: none;
				}
			}

			.calculator__currency-span-1 {
				left: 20px;
				top: calc(50% - 24px / 2);
				color: #ffffff;
			}

			.calculator__currency-span-2 {
				right: 20px;
				top: calc(50% - 24px / 2);
			}

			.calculator__currency-span-1-mobile,
			.calculator__currency-span-2-mobile {
				position: absolute;
				font-weight: 400;
				font-size: 16px;
				line-height: 150%;
				color: #748994;
				pointer-events: none;
				transition: 0.3s;

				@media (min-width: 992px) {
					display: none;
				}
			}

			.calculator__currency-span-1-mobile {
				left: 12px;
				top: calc(50% - 24px / 2);
				color: #ffffff;
			}

			.calculator__currency-span-2-mobile {
				right: 12px;
				top: calc(50% - 24px / 2);
			}
		}
	}

	&__buy,
	&__sell {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-left: 20px;

		@media (max-width: 767.98px) {
			margin-left: 0;
		}

		&-span {
			font-weight: 700;
			font-size: 16px;
			line-height: 150%;
			color: #3a4454;
			margin-right: 16px;

			@media (max-width: 767.98px) {
				min-width: 83px;
			}
		}

		&-inputs {
			display: flex;
		}

		&-input {
			position: relative;

			input {
				display: block;
				width: 100%;
				max-width: 180px;
				background: #ffffff;
				border: 1px solid #a5adb4;
				border-radius: 5px;
				padding: 16px 12px 16px 45px;
				height: 48px;
				font-size: 16px;
				line-height: 100%;
				color: #556176;

				@media (max-width: 575.98px) {
					max-width: 120px;
				}

				&::placeholder {
					font-size: 16px;
					line-height: 100%;
					color: #556176;
				}
			}

			span {
				position: absolute;
				left: 11px;
				top: 16.5px;
				font-size: 16px;
				line-height: 100%;
				color: #556176;
				pointer-events: none;
			}
		}

		&-input + &-input {
			margin-left: 16px;
		}
	}

	&__sell {
		@media (max-width: 767.98px) {
			margin-top: 16px;
		}
	}
}
