.compare-cards {
	padding-bottom: var(--paddings-bottom);
	margin-bottom: var(--margins-bottom);

	background: var(--gradient);

	@media (max-width: 767.98px) {
		padding-bottom: var(--paddings-bottom-mobile);
		margin-bottom: var(--margins-bottom--mobile);
	}

	&__top {
		position: relative;
		margin-top: var(--margins-top);
		padding-top: var(--paddings-top);
		background: #ffffff;
		border-radius: 10px 10px 0px 0px;

		@media (max-width: 767.98px) {
			padding-top: var(--paddings-top-mobile);
		}
	}

	&__title {
		font-weight: 300;
		font-size: 40px;
		line-height: 100%;
		text-align: center;
		color: #3a4454;
		width: 100%;
		max-width: 426px;
		display: flex;
		justify-content: center;
		margin: 0 auto;

		@media (max-width: 767.98px) {
			font-size: 32px;
			padding-bottom: 10px;
		}
	}

	&__inner {
		display: flex;
		flex-direction: column;

		@media (max-width: 1199.98px) {
			overflow-x: auto;
			margin-right: -16px;
			margin-left: -16px;
		}
	}

	&__table {
		margin-top: 47px;

		@media (max-width: 1199.98px) {
			margin-right: 16px;
			margin-left: 16px;
		}
	}

	&__row {
		display: flex;
		&--header {
		}
		&--footer {
			display: flex;
			justify-content: center;
			padding-top: 44px;
			font-weight: 400;
			font-size: 14px;
			line-height: 150%;
			text-align: center;
			color: #748994;
			width: 100%;
			max-width: 617px;
			margin: 0 auto;
		}
	}

	&__row + &__row {
		border-top: 1px solid #dce1e9;
	}

	&__data {
		display: flex;
		justify-content: center;
		width: 100%;
		max-width: 315px;
		padding: 26px 24px;
		font-weight: 400;
		font-size: 16px;
		line-height: 150%;
		color: #748994;
		min-height: 90px;
		flex-shrink: 0;

		@media (max-width: 767.98px) {
			padding: 16px 23px;
			min-height: 46px;
			max-width: 225px;
		}

		&:first-child {
			max-width: 282px;
			justify-content: flex-start;
			padding-left: 0;
			padding-right: 20px;
			font-weight: 700;
			font-size: 20px;
			line-height: 110%;
			color: #3a4454;
			display: flex;
			align-items: center;

			@media (max-width: 767.98px) {
				padding: 16px 23px 16px 0;
				min-height: 46px;
				max-width: 110px;
			}

			@media (max-width: 767.98px) {
				font-size: 14px;

				img {
					display: none;
				}
			}

			img {
				width: 38px;
				height: 38px;
				object-fit: contain;
				margin-right: 30px;
			}
		}
	}

	&__data + &__data {
		border-left: 1px solid #dce1e9;
	}

	&__card {
		position: relative;
		display: flex;
		flex-direction: column;

		&-image {
			width: 100%;
			height: 183.86px;

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
		&-title {
			margin-top: 18px;
			font-weight: 300;
			font-size: 20px;
			line-height: 100%;
			text-align: center;
			color: #007953;
		}

		&-details {
			margin-top: 9px;
			font-weight: 400;
			font-size: 14px;
			line-height: 150%;
			text-align: center;
			color: #748994;
			margin-bottom: 14px;
		}

		&-buttons {
			margin-top: auto;
			margin-bottom: 0;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		&-close {
			position: absolute;
			right: -13px;
			top: -7px;
			width: 27px;
			height: 27px;

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}

			&:hover {
				cursor: pointer;
			}
		}
		&-selects {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: -30px;
		}
		&-select {
			background: #ffffff;
			/* Grey Input */
			width: 100%;
			border: 1px solid #a5adb4;
			border-radius: 5px;
			font-weight: 400;
			font-size: 16px;
			line-height: 100%;
			/* identical to box height, or 16px */

			/* Grey Input */
			padding: 16px 12px;

			color: #a5adb4;

			background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L6.24074 7.1142C6.63984 7.57981 7.36016 7.57981 7.75926 7.1142L13 1' stroke='%23708090' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
			background-repeat: no-repeat;
			background-size: 15px;
			background-position: calc(100% - 12px) 50%;
		}
	}
}
