.three-cards {
	margin-top: var(--margins-top);
	margin-bottom: var(--margins-bottom);
	padding-top: var(--paddings-top);
	padding-bottom: var(--paddings-bottom);
	background: var(--gradient);

	@media (max-width: 767.98px) {
		margin-top: var(--margins-top--mobile);
		margin-bottom: var(--margins-bottom--mobile);
		padding-top: var(--paddings-top--mobile);
		padding-bottom: var(--paddings-bottom--mobile);
	}

	&__title {
		font-weight: 300;
		font-size: 40px;
		line-height: 100%;
		text-align: center;
		color: #3a4454;
		margin-bottom: 65px;

		@media (max-width: 767.98px) {
			margin-bottom: 34px;
		}

		@media (max-width: 575.98px) {
			font-size: 32px;
		}
	}

	&__inner {
		display: flex;
		margin: 0 -26.5px;

		@media (max-width: 767.98px) {
			margin: 0;
			flex-direction: column;
		}
	}

	&__item {
		display: inline-block;
		position: relative;
		min-height: 227px;
		height: initial !important;
		flex-shrink: 0;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 44px 20px 40px 36px;
		background: #ffffff;
		border: 1px solid #dce1e9;
		border-radius: 10px;
		transition: 0.3s;

		&:hover {
			box-shadow: 0px 5px 25px rgb(15 35 52 / 20%);
		}

		&[data-active="true"] {
			box-shadow: none;

			.three-cards__item-title {
				color: #fff;
			}

			.three-cards__item-text {
				color: #fff;
			}

			.three-cards__item-buttons {
				display: none;
			}
		}
		
		&-content {
			display: flex;
			flex-direction: column;
			max-width: 400px;
			position: relative;
			z-index: 2;

			@media (max-width: 767.98px) {
				max-width: 273px;
			}
		}

		&-title {
			font-weight: 300;
			font-size: 30px;
			line-height: 100%;
			color: #3a4454;

			@media (max-width: 767.98px) {
				font-size: 24px;
				line-height: 100%;
			}
		}

		&-text {
			margin-top: 16px;
			font-weight: 400;
			font-size: 16px;
			line-height: 150%;
			color: #556176;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: normal;
			max-width: 275px;

			@media (max-width: 767.98px) {
				margin-top: 16px;
			}
		}

		&-buttons {
			margin-top: 16px;
		}

		// &-button {
		// }

		&-image {
			position: absolute;
			right: -4px;
			bottom: -9px;
			width: 160.24px;
			height: 105.23px;
			transform: rotate(5.53deg);
			filter: drop-shadow(0px 6px 20px rgba(44, 44, 44, 0.25));

			img {
				 width: 100%;
				 height: 100%;
				 object-fit: cover;
			}
		}
	}
	
	@media (min-width: 1200px) {
		&__item {
			margin-top: 0 !important;
			margin-bottom: 0 !important;
			flex: 0 0 calc( 33.33333% - 2 * 25px / 3 );
		}
	}
	
	@media (min-width: 768px) and (max-width: 1200px) {
		&__item {
			margin-top: 0 !important;
			margin-bottom: 0 !important;
			flex: 0 0 calc( 50% - 1 * 25px / 2 );
		}
	}
	
	@media (max-width: 768px) {
		&__item {
			margin-top: 0 !important;
			margin-bottom: 0 !important;
			flex: 0 0 100%;
		}
		
		.swiper {
			padding-bottom: calc( 25px + 56px );
		}
		
		.swiper-button-next,
		.swiper-button-prev {
			position: absolute;
			top: 100%;
			margin: 0 !important;
		}
		
		.swiper-button-next {
			left: calc(50% + 40px);
			transform: translate3d(-50%, -100%, 0);
		}

		.swiper-button-prev {
			left: calc(50% - 40px);
			transform: translate3d(-50%, -100%, 0);
		}
	}
}
