.blog__hero {
	position: relative;
	padding-top: 106px;
	padding-bottom: 200px;

	@media (max-width: 767.98px) {
		padding-top: 208px;
		padding-bottom: 60px;
	}

	&-inner {
		display: flex;
		justify-content: space-between;

		@media (max-width: 767.98px) {
			flex-direction: column;
		}
	}

	&-text {
		max-width: 360px;

		@media (max-width: 767.98px) {
			max-width: 290px;
		}
	}

	&-title {
		font-weight: 700;
		font-size: 35px;
		line-height: 100%;
		color: #ffffff;
		max-width: 392px;

		@media (max-width: 575.98px) {
			font-size: 24px;
			line-height: 100%;
			max-width: 270px;
		}
	}

	&-content {
		margin-top: 20px;
		font-weight: 400;
		font-size: 16px;
		line-height: 150%;
		color: #ffffff;
		max-width: 400px;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: normal;
	}

	&-buttons {
		margin-top: 20px;
	}

	&-button {
		.link-button {
			color: #fff;
			border-bottom-color: #fff;

			&:hover {
				color: #fff;
				border-bottom-color: #fff;
			}

			&:active {
				color: #fff;
				border-bottom-color: #fff;
			}
		}
	}

	&-background {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		pointer-events: none;
		width: 100%;
		height: 100%;
		z-index: -1;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.blog__filters {
	position: relative;
	z-index: 10;
	margin-top: -85px;

	@media (max-width: 1199.98px) {
		margin: 40px -16px 39px;
	}

	&-inner {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		background: #ffffff;
		padding: 27px 50px 42px 76px;
		border-radius: 10px;

		@media (max-width: 1199.98px) {
			padding: 0;
			flex-wrap: nowrap;
			overflow-x: auto;
		}
	}

	&-item {
		display: inline-block;
		font-weight: 700;
		font-size: 16px;
		line-height: 100%;
		text-align: center;
		color: #708090;
		background: #ffffff;
		border: 1px solid #a5adb4;
		border-radius: 50px;
		padding: 15px 31.5px;
		margin-top: 16px;
		margin-right: 16px;
		white-space: nowrap;
		transition: 0.3s;

		@media (max-width: 1199.98px) {
			margin-top: 0;

			&:first-child {
				margin-left: 16px;
			}
		}

		&.active {
			color: #fff;
			background: #219963;

			@media (max-width: 1199.98px) {
				margin-left: 16px;
			}

			&:hover {
				color: #fff;
				background: #007953;
			}

			&:active {
				background: #219963;
			}
		}

		&:hover {
			color: #219963;
			border-color: #219963;
		}

		&:active {
			background: transparent;
		}
	}
}

.blog {
	&__body {
		padding-top: 30px;

		@media (max-width: 1199.98px) {
			padding-top: 0;
		}
	}

	&__inner {
		display: flex;

		@media (max-width: 1199.98px) {
			flex-direction: column;
		}
	}

	&__content {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	&__title {
		display: inline-block;
		position: relative;
		font-weight: 300;
		font-size: 40px;
		line-height: 100%;
		color: #3a4454;
		background: #fff;
		padding-right: 28px;

		@media (max-width: 767.98px) {
			padding-right: 0;
		}

		@media (max-width: 575.98px) {
			font-size: 32px;
			line-height: 100%;
		}

		&-wrapper {
			position: relative;
			width: 100%;
			padding-right: 140px;

			@media (max-width: 767.98px) {
				padding-right: 0;
			}

			&::before {
				content: '';
				position: absolute;
				left: 0;
				top: 24px;
				width: 100%;
				height: 1px;
				background: #dce1e9;

				@media (max-width: 767.98px) {
					content: none;
				}
			}
		}
	}

	&__description {
		margin-top: 48px;
		font-weight: 400;
		font-size: 16px;
		line-height: 150%;
		color: #4A5264;
	}

	&__lines {
		margin-top: 24px;

		@media (max-width: 767.98px) {
			margin-top: 21px;
		}
	}

	&__line + &__line {
		margin-top: 16px;
	}

	&__block {
		background: #ffffff;
		border: 1px solid #dce1e9;
		border-radius: 10px;
		display: flex;
		flex-direction: column;
		margin-bottom: 50px;
		margin-top: 50px;
		min-width: 100%;

		@media (max-width: 767.98px) {
			margin-bottom: 48px;
		}

		&-image {
			display: block;
			width: 100%;
			height: 250px;
			border-radius: 10px 10px 0px 0px;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&-content {
			padding: 40px 35px 40px 35px;

			@media (max-width: 767.98px) {
				padding: 30px 25px 30px 25px;
			}
		}

		&-suptitle {
			font-weight: 700;
			font-size: 18px;
			line-height: 100%;
			color: #708090;

			@media (max-width: 575.98px) {
				font-size: 16px;
			}
		}

		&-title {
			display: block;
			font-weight: 300;
			font-size: 35px;
			line-height: 100%;
			color: #007953;
			margin-top: 19px;

			@media (max-width: 767.98px) {
				margin-top: 12px;
			}

			@media (max-width: 575.98px) {
				font-size: 24px;
			}
		}

		&-details {
			margin-top: 12px;
			display: flex;
			align-items: center;
		}

		&-date {
			font-size: 14px;
			line-height: 150%;
			color: #4A5264;
			margin-right: 16px;
			text-transform: uppercase;
			white-space: nowrap;
			margin-top: 6px;
			margin-bottom: 6px;
		}

		&-tags {
			padding-left: 16px;
			border-left: 1px solid #dce1e9;
			display: flex;
			flex-wrap: wrap;
			margin-top: 2px;
			margin-bottom: 6px;
		}

		&-tag {
			color: #4A5264;
			padding-bottom: 2px;
			margin-right: 10px;
			padding-top: 4px;
			font-size: 14px;

			& > span {
				border-bottom: 1px solid #4A5264;
			}

			@media (max-width: 767.98px) {
				margin-right: 5px;
			}

			&::after {
				content: ',';
			}

			&:last-child {
				&::after {
					content: none;
				}
			}
		}
	}

	&__main-post {
		padding-top: 57px;
		padding-bottom: 40px;
		display: flex;

		@media (max-width: 991.98px) {
			flex-direction: column;
		}

		@media (max-width: 767.98px) {
			padding-top: 42px;
			padding-bottom: 43px;
		}

		&-image {
			width: 375px;
			height: 329px;
			border-radius: 10px;
			margin-right: 48px;
			flex-shrink: 0;

			@media (max-width: 767.98px) {
				width: 100%;
				height: 235px;
				margin-right: 0;
			}

			img {
				border-radius: 10px;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&-inner {
			display: flex;
			flex-direction: column;
		}

		&-title {
			font-weight: 300;
			font-size: 30px;
			line-height: 100%;
			color: #3A4454;

			@media (max-width: 991.98px) {
				margin-top: 25px;
			}

			@media (max-width: 575.98px) {
				font-weight: 300;
				font-size: 24px;
				line-height: 110%;
			}
		}

		&-details {
			margin-top: 12px;
			display: flex;
			align-items: center;
		}

		&-date {
			font-size: 14px;
			line-height: 150%;
			color: #748994;
			margin-right: 16px;
			text-transform: uppercase;
			white-space: nowrap;
			margin-top: 6px;
			margin-bottom: 6px;
		}

		&-tags {
			padding-left: 16px;
			border-left: 1px solid #dce1e9;
			display: flex;
			flex-wrap: wrap;
			margin-top: 2px;
			margin-bottom: 6px;
		}

		&-tag {
			color: #748994 !important;
			padding-bottom: 2px;
			border-bottom: 1px solid #748994;
			margin-right: 10px;
			padding-top: 4px;
			// white-space: nowrap;

			@media (max-width: 767.98px) {
				margin-right: 5px;
			}

			&::after {
				content: ',';
			}

			&:last-child {
				&::after {
					content: none;
				}
			}
		}

		&-content {
			margin-top: 24px;
			display: -webkit-box;
			-webkit-line-clamp: 4;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 150%;
			color: #748994;

			@media (max-width: 767.98px) {
				-webkit-line-clamp: 3;
			}
		}

		&-buttons {
			display: flex;
			align-items: flex-start;
			margin-top: 24px;
		}
	}
	
	&__main-post + .blog__other-posts {
		border-top: 1px solid #dce1e9;
	}

	&__other-posts {
		padding-top: 38px;
		padding-bottom: 102px;
		display: flex;
		justify-content: space-between;

		@media (max-width: 991.98px) {
			flex-direction: column;
			padding-top: 0;
			padding-bottom: 18px;
		}
	}

	&__other-post + &__other-post {
		margin-left: 68px;

		@media (max-width: 991.98px) {
			border-top: 1px solid #dce1e9;
			margin-left: 0;
		}
	}

	&__other-post {
		width: 100%;

		@media (max-width: 991.98px) {
			padding-top: 32px;
			padding-bottom: 44px;
		}

		&-title {
			font-weight: 300;
			font-size: 24px;
			line-height: 100%;
			color: #3a4454;

			@media (max-width: 575.98px) {
				font-weight: 300;
				font-size: 20px;
				line-height: 110%;
			}
		}

		&-details {
			margin-top: 12px;
			display: flex;
			align-items: center;
		}

		&-date {
			font-size: 14px;
			line-height: 150%;
			color: #748994;
			margin-right: 16px;
			text-transform: uppercase;
			white-space: nowrap;
			margin-top: 6px;
			margin-bottom: 6px;
		}

		&-tags {
			padding-left: 16px;
			border-left: 1px solid #dce1e9;
			display: flex;
			flex-wrap: wrap;
			margin-top: 2px;
			margin-bottom: 6px;
		}

		&-tag {
			color: #748994 !important;
			padding-bottom: 2px;
			border-bottom: 1px solid #748994;
			margin-right: 10px;
			padding-top: 4px;
			// white-space: nowrap;

			@media (max-width: 767.98px) {
				margin-right: 5px;
			}

			&::after {
				content: ',';
			}

			&:last-child {
				&::after {
					content: none;
				}
			}
		}

		&-inner {
			margin-top: 24px;
			display: flex;

			@media (max-width: 767.98px) {
				margin-top: 15px;
			}
		}

		&-image {
			width: 138px;
			height: 121px;
			border-radius: 10px;
			margin-right: 24px;
			flex-shrink: 0;

			@media (max-width: 767.98px) {
				width: 123px;
				height: 107px;
				margin-right: 20px;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 10px;
			}
		}

		&-content {
			display: flex;
			flex-direction: column;
		}

		&-text {
			font-weight: 400;
			font-size: 16px;
			line-height: 150%;
			color: #4A5264;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: normal;
		}

		&-buttons {
			display: flex;
			align-items: flex-start;
			margin-top: 24px;

			@media (max-width: 767.98px) {
				margin-top: 10px;
			}
		}
	}

	&__posts {
		padding-top: 22px;
		padding-bottom: 60px;
		display: flex;
		flex-direction: column;

		@media (max-width: 767.98px) {
			padding-top: 0;
			padding-bottom: 36px;
		}
	}

	&__post {
		padding: 36px 0;
		border-bottom: 1px solid #dce1e9;
		display: flex;

		@media (max-width: 767.98px) {
			flex-direction: column;
		}

		&-image {
			width: 230px;
			height: 157.32px;
			border-radius: 5px;
			margin-right: 36px;
			flex-shrink: 0;

			@media (max-width: 767.98px) {
				width: 100%;
				height: 200px;
				margin-right: 0;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 5px;
			}
		}

		&-inner {
			display: flex;
			flex-direction: column;
		}

		&-details {
			margin-top: 0;
			display: flex;
			align-items: center;

			@media (max-width: 767.98px) {
				margin-top: 24px;
			}
		}

		&-date {
			font-size: 12px;
			line-height: 150%;
			color: #748994;
			margin-right: 16px;
			text-transform: uppercase;
			white-space: nowrap;
		}

		&-title {
			margin-top: 8px;
			font-weight: 700;
			font-size: 24px;
			line-height: 100%;
			color: #219963;

			@media (max-width: 575.98px) {
				font-weight: 300;
				font-size: 20px;
				line-height: 110%;
			}
		}

		&-content {
			margin-top: 15px;
			font-weight: 400;
			font-size: 16px;
			line-height: 150%;
			color: #748994;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: normal;
		}
	}

	&__pagination {
		margin: 0 auto;
		margin-bottom: 88px;

		@media (max-width: 767.98px) {
			margin-bottom: 48px;
		}

		ul {
			display: flex;
			align-items: center;
		}

		li {
			width: 32px;
			height: 32px;
			display: inline-block;
			padding: 0 11px;
			font-weight: 700;
			font-size: 16px;
			line-height: 32px;
			color: #748994;
			border-radius: 50%;

			&:first-child,
			&:last-child {
				width: 14px;
				height: 14px;
				stroke: #748994;
				padding: 0;
				line-height: 100%;

				a {
					display: inline-block;
					width: 14px;
					height: 14px;
				}

				.icon {
					display: inline-block;
					width: 14px;
					height: 14px;
				}

				svg {
					width: 100%;
					height: 100%;
				}
			}

			&.disabled {
				stroke: #dce1e9;
			}

			&.active {
				background: #219963;
				color: #fff;
			}
		}

		li + li {
			margin-left: 13px;
		}
	}

	&__sidebar {
		display: flex;
		flex-direction: column;
		width: 360px;
		margin-left: 84px;
		flex-shrink: 0;

		@media (max-width: 1199.98px) {
			width: 100%;
			margin-left: 0;
		}
	}

	&__search {
		width: 100%;
		background: #f7f9fb;
		border-radius: 10px;

		@media (max-width: 767.98px) {
			width: auto;
			margin-left: -16px;
			margin-right: -16px;
			border-radius: 0;
		}

		.article__search {
			padding-bottom: 18px;
		}
	}

	&__categories {
		padding: 0px 16px 10px;

		&-title {
			font-weight: 700;
			font-size: 24px;
			line-height: 100%;
			color: #3a4454;
			margin-bottom: 3px;
		}

		a {
			font-weight: 400;
			font-size: 16px;
			line-height: 150%;
			color: #219963;
			display: inline-block;
			padding: 12px 0;

			&.active {
				text-decoration: underline;
			}
		}

		li + li {
			border-top: 1px solid #dce1e9;
		}
	}

	&__instagram {
		margin-top: 24px;
		width: 100%;
		background: #ffffff;
		margin-bottom: 107px;
		border: 1px solid #dce1e9;
		border-radius: 10px;
		padding: 15px 18px 13px;

		&-top {
			display: flex;
			justify-content: space-between;

			&-image {
				width: 24px;
				height: 24px;

				img {
					width: 100%;
					height: 100%;
					object-fit: contain;
				}
			}
		}

		&-title {
			display: inline-flex;
			align-items: center;
			font-weight: 700;
			font-size: 16px;
			line-height: 150%;
			color: #3a4454;

			img {
				width: 16px;
				height: 16px;
				margin-left: 8px;
			}
		}

		&-date {
			font-weight: 400;
			font-size: 12px;
			line-height: 150%;
			color: #748994;
		}

		&-image {
			display: block;
			margin-top: 15px;
			width: 100%;
			height: 323.8px;
			border-radius: 10px;

			@media (max-width: 767.98px) {
				margin-top: 14px;
				margin-bottom: 20px;
			}

			img,
			> div,
			a {
				width: 100%;
				height: 100%;
				object-fit: contain;
				border-radius: 10px;
			}
		}

		&-text {
			font-weight: 400;
			font-size: 14px;
			line-height: 150%;
			color: #748994;
			margin-top: 16.5px;

			@media (max-width: 767.98px) {
				margin-top: 0;
				display: -webkit-box;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: normal;
			}

			a {
				font-weight: 700;
				color: #3a4454;
			}
		}
	}
}

.blog__search {
	position: relative;
	background: #f7f9fb;
	border-radius: 10px;
	padding: 26px 16px 24px;

	&-entry {
		width: 100%;
		padding: 9px 39px 9px 16px;
		border: 1px solid #a5adb4;
		border-radius: 5px;
		height: 42px;
		transition: 0.3s;

		&::placeholder {
			transition: 0.3s;
		}

		&:focus {
			box-shadow: 0px 5px 15px rgba(15, 35, 52, 0.2);
			border-color: #007953;

			&::placeholder {
				opacity: 0;
			}
		}

		&:hover {
			box-shadow: 0px 5px 15px rgba(15, 35, 52, 0.2);
		}
	}

	&-button {
		position: absolute;
		left: auto;
		right: 11px + 16px;
		top: 50%;
		height: 24px;
		width: 24px;
		fill: #556176;
		transform: translateY(-50%);

		svg,
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}

.blog__error {
	margin: 75px auto;
	width: 350px;
	max-width: 100%;
	
	& > * {
		margin: 25px auto;
		text-align: center;
	}
	
	img {
		max-width: 100%;
		display: block;
	}
	
	h3 {
		font-weight: 300;
		font-size: 32px;
		line-height: 110%;
		color: #3a4454;
	}
	
	p {
		font-weight: 400;
		font-size: 16px;
		line-height: 150%;
		color: #748994;
		margin-top: 16px;
	}
}

.blog {
	&__post {
		&:last-child {
			border-bottom: 0 !important;
		}
	}
}
